<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/styles.css" />
    <title>Chroma</title>
  </head>
  <body>
  
    <!-- BOTH SLIDES  -->
    <div id="slide1">

      <div class="content">
       <div class="landingHeader">

       
          <p>Chroma</p>
          <img src="/static/assets/23logo2.png" value="Log in with 23andMe" onclick="location.href='{{ auth_url }}'" class="login-button-bottom">
          
        </div>
      </div>
    </div>
    <script src="../static/lib/jQuery/dist/jquery.min.js"></script>
  </body>
</html>

